<div>
  <button mat-button (click)="openProfileDialog()">Open Dialog</button>
  <button mat-button color="primary" (click)="openProfileForm()">
    Open Form
  </button>
  <button mat-button color="accent" (click)="openVolumeOverlay()">
    Open Volume Overlay
  </button>
</div>
<div>
  <button mat-button (click)="openProfileFormThenOpenVolumeOverlay()">
    Open Form Then Overlay
  </button>
  <button mat-button color="primary" (click)="openVolumeOverlayThenCloseIt()">
    Open Overlay Then Close After 5 Seconds
  </button>
</div>
<div>
  <button mat-button (click)="openMultipleOverlays()">Open 3 Overlays</button>
  <button mat-button color="primary" (click)="openOverlayThenForm()">
    Open Overlay Then Form
  </button>
  <button
    mat-button
    color="accent"
    (click)="openOverlayThenFormThenCloseOverlay()"
  >
    Open Overlay Then Form Then Close Overlay After 5 Seconds
  </button>
</div>
<div>
  <button mat-button (click)="openFormThenAfter5SecondsRunProcess()">
    Open Form Then After 5 Seconds Run Process
  </button>
  <button
    mat-button
    color="primary"
    (click)="openFormThenAfter5SecondsRunSave()"
  >
    Open Form Then After 5 Seconds Show Overlay Then Run Save
  </button>
</div>
